# Copyright 2022 ETH Zurich and University of Bologna.
# Licensed under the Apache License, Version 2.0, see LICENSE for details.
# SPDX-License-Identifier: Apache-2.0
#
# Nicole Narr <narrn@student.ethz.ch>
# Christopher Reinwardt <creinwar@student.ethz.ch>

*.bin
*.dump
*.elf
*.o
.patched
bootrom/*.bin
bootrom/*.dump
bootrom/*.elf
bootrom/*.o
bootrom/*.sv
device-tree/*.dtb
device-tree/*.dtb.elf
lib/*.o
lib/*.a
tests/*.bin
tests/*.dump
tests/*.elf
tests/*.o
