[submodule "sw/deps/printf"]
	path = sw/deps/printf
	url = https://github.com/mpaland/printf
	ignore = dirty
[submodule "sw/deps/cva6-sdk"]
	path = sw/deps/cva6-sdk
	url = https://github.com/pulp-platform/cva6-sdk.git
	ignore = dirty
