# Copyright 2022 ETH Zurich and University of Bologna.
# Licensed under the Apache License, Version 2.0, see LICENSE for details.
# SPDX-License-Identifier: Apache-2.0
#
# Nicole Narr <narrn@student.ethz.ch>
# Christopher Reinwardt <creinwar@student.ethz.ch>

*.log
*.jou
*.str
*.mif
*.xci
*.Xil/
scripts/add_sources.tcl
cheshire.cache/
cheshire.hw/
cheshire.ioplanning/
cheshire.ip_user_files/
cheshire.runs/
cheshire.sim/
cheshire.xpr
out/
reports/
