# Copyright 2022 ETH Zurich and University of Bologna.
# Licensed under the Apache License, Version 2.0, see LICENSE for details.
# SPDX-License-Identifier: Apache-2.0

# Author: Paul Scheffler <paulsc@iis.ee.ethz.ch>

name: gitlab-ci

on: [ push, pull_request, workflow_dispatch ]

jobs:

  mirror-and-check:
    runs-on: ubuntu-latest
    steps:
      -
        name: Mirror and check
        uses: pulp-platform/pulp-actions/gitlab-ci@v2
        with:
          domain: iis-git.ee.ethz.ch
          repo: github-mirror/cheshire
          token: ${{ secrets.GITLAB_TOKEN }}
